<div class="container">
  <div class="space"></div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="stats-box">
        <h3>Thanks for mining TSF</h3>

        <p>You can visit our site and contact us</p>
      </div>
      <div class="space1"></div>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="space1"></div>
  <div class="row">
    <div class="col-md-12">
      <div class="social-icons">
        <a href="#">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <i class="fa fa-facebook"></i>
        </a>
        <a href="#">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <i class="fa fa-twitter"></i>
        </a>
        <a href="#">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <i class="fa fa-instagram"></i>
        </a>
        <a href="#">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <i class="fa fa-google-plus"></i>
        </a>
        <a href="#">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <i class="fa fa-telegram"></i>
        </a>
        <a href="#">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <i class="fa fa-youtube"></i>
        </a>
        <a href="#">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <i class="fa fa-reddit"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="helpLinks">
        <a href="https://libex.ai/" target="_blank">Exchange</a>
        <a href="https://tsf-network.com/" target="_blank">TSF Website</a>
        <a href="http://tsfpool.xyz/#/miners" target="_blank">TSF POOL (Prop)</a>
        <a href="https://libertasgh.com/" target="_blank">Libertasgh</a>
        <a href="http://szar.co.za/" target="_blank">Szar</a>
        <a href="https://binar.rs/" target="_blank">Binar</a>
        <a href="https://explorer.tsf-platform.com/#/" target="_blank">Explorer</a>
        <a href="https://wallet.teslafunds.io/" target="_blank">Web Wallet</a>
        <a href="https://github.com/tsfnetwork/libertas-tsf-wallet/releases" target="_blank">Desktop Wallet</a>
        <a href="https://github.com/teslafunds/androidwallet/releases/tag/1.0.0" target="_blank">Mobile Wallet</a>
        <a href="https://tsf-smartgenerator.com/" target="_blank">Smart Generator</a>
        <a href="https://miners-hosting.tsf-platform.com/" target="_blank">Mining Solution</a>
      </div>
    </div>
  </div>
  <div class="space1"></div>
</div>