<div class="container">
  <div class="space"></div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="stats-box">
        <h3>Thanks for mining TSF</h3>

        <p>You can visit our site and contact us</p>
      </div>
      <div class="space1"></div>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="space1"></div>
  <div class="row">
    <div class="col-md-12">
      <div class="social-icons">
        <a href="https://twitter.com/TSFblockchain" target="_blank">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <i class="fa fa-twitter"></i>
        </a>
        {{!-- <a href="#">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <i class="fa fa-instagram"></i>
        </a> --}}
        {{!-- <a href="#">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <i class="fa fa-google-plus"></i>
        </a> --}}
        <a href="https://t.me/tsfblockchain" target="_blank">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <i class="fa fa-telegram"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCWD-ov79ZRVnZzDdi_d-uvg" target="_blank">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <i class="fa fa-youtube"></i>
        </a>
        <a href="https://www.reddit.com/user/TSF-BLOCKCHAIN" target="_blank">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <i class="fa fa-reddit"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="helpLinks">
        <a href="https://libex.ai/" target="_blank">Exchange</a>
        <a href="https://tsf-network.com/" target="_blank">TSF Website</a>
        <a href="http://tsfpool.xyz" target="_blank">tsfpool.xyz (Prop)</a>
        <a href="http://de.tsfpool.com/" target="_blank">de.tsfpool.com (Prop)</a>
        <a href="https://libertasgh.com/" target="_blank">LibertasGH</a>
        <a href="https://explorer.tsf-platform.com/#/" target="_blank">Explorer</a>
        <a href="https://putea.tsf-network.com/" target="_blank">Web Wallet</a>
        <a href="https://github.com/tsfnetwork/libertas-tsf-wallet/releases" target="_blank">Desktop Wallet</a>
        <a href="https://play.google.com/store/apps/details?id=com.libertasgh.veritas" target="_blank">Mobile Wallet</a>
        <a href="https://tsf-smartgenerator.com/" target="_blank">Smart Generator</a>
        
      </div>
    </div>
  </div>
  <div class="space1"></div>
</div>